@import url("fonts.css");

ul.navlist
{
  list-style-type: none;
}

header
{
  margin: 0 auto;
  width: 40%;
  text-align: center;
  /*line-height: 2.2em;*/
  padding-top: 18px;
  margin-top: 2.5%;

  background: rgba(230, 230, 230, 0.82);
  border-radius: 25px;
  backdrop-filter: blur(10px);
}

footer
{
  text-align: center;
  font-size: 14px;
  /*line-height: 2.2em;*/
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 2.5%;
  padding-top: 4px;

  background: rgba(230, 230, 230, 0.82);
}

#dreamstitle
{
  font-family: Lusitana, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 0.7em;

  color: #000000;
}

#japanesesubtitle
{
  font-family: Yuji Syuku, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  margin: 0px;

  color: #000000;
}

#manicsubtitle
{
  font-style: italic;
  font-size: 18px;
  margin-top: 0;
  padding-bottom: 10px;
}

body
{
  overflow-x: hidden;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

*
{
  font-family: Averia Libre, cursive;
  /* font-family: Yuji Syuku, serif; */
  font-style: normal;
  font-weight: 300;

  color: #080808;
}

.body-title
{
  font-weight: bold;
  font-size: 52px;
  margin: 0;
  padding-top: 20px;
}

.body-subtitle
{
  font-style: italic;
  font-size: 18px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

hr
{
  border: 1px solid #676767;
  width: 90%;
  margin: 0 auto;
}

h1
{
  text-align: center;
}
h2
{
  text-align: center;
}
h3
{
  text-align: center;
}
h4
{
  text-align: center;
}

p
{
  font-size: 18px;
}

main
{
  margin: auto;
  width: 55%;

  background: #F5F5F5;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding-left: 5rem;
  padding-right: 5rem;
}

aside {
    width: auto;
    padding-right: .5rem;
    margin-right: .5rem;
    padding-left: .5rem;
    margin-left: 2rem;
    float: left;
    /*box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;*/
}

aside > p {
    margin: .5rem;
}

aside.kanji-aside
{
  font-family: Yuji Syuku, serif;
  font-size: 96px;
}

nav > h3
{
  text-align: left;
}

nav
{
  border: thick double #676767;
  display: float;
  float: right;
  width: 200px;
  margin-right: -30px;
  padding-left: 10px;
  padding-right: 10px;

  background: #F5F5F5;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

nav.activity
{
  margin-top: 50px;
  clear: both;
}